absl-py
astunparse
cachetools
certifi
chardet
cycler
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
joblib
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
oauthlib
opt-einsum
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scipy==1.12.0
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
urllib3
Werkzeug
wrapt
zipp
nltk
gensim
transformers